div {
  font-family: "Source Code Pro";
  padding: 20px;
}
img {
  border-radius: 50%;
  width: 150px;
}
.effect {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.effect:hover {
  text-decoration: none;
  text-decoration-style: none;
}
